@import './color.scss';

$shadow: 0 4px 4px #00000039;

body {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;

    overflow-x: hidden;
    background-image: linear-gradient($color-pink-002, $color-pink-003);
    font-family: 'Noto Sans KR', sans-serif;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 990px;
    height: 60%;
    max-height: 800px;

    padding: 24px 0;
    margin: 0 20px;

    overflow-y: auto;
    background-color: $color-pink-004;

    &__header {
        display: flex;
        justify-content: center;

        margin-bottom: 16px;

        font-size: 64px;
        font-weight: 900;
        color: $color-pink-001;
        text-shadow: $shadow;
    }

    &__contents {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        &__input {
            display: flex;
            justify-content: center;

            position: relative;
            width: 80%;

            .inputField {
                height: 75px;
                width: 100%;

                padding: 0 26px;
                margin-bottom: 48px;

                border: none;
                border-radius: 5px;
                box-shadow: $shadow;

                font-size: 24px;
            }

            .btn {
                position: absolute;
                top: 22px;
                right: 24px;
                margin: auto;

                border: none;
                background-color: transparent;
                cursor: pointer;

                .material-symbols-outlined {
                    font-size: 32px;
                    color: $color-gray-001;
                }
            }
        }

        &__to-dos {
            display: flex;
            align-items: center;
            flex-direction: column;

            width: 76%;
            gap: 16px;

            div {
                display: flex;
                justify-content: space-between;
                align-items: center;

                width: 100%;
                padding: 24px;

                background-color: $color-white-001;
                border-radius: 5px;
                list-style: none;
                font-size: 20px;

                input[type='checkbox'] {
                    width: 21px;
                    height: 21px;
                    border-radius: 50%;
                    border: 3px solid $color-gray-001;
                    appearance: none;
                    cursor: pointer;
                    transition: background 0.2s;
                }

                input[type='checkbox']:checked {
                    background: $color-pink-001;
                }

                span {
                    width: 85%;
                }

                button {
                    border: none;
                    background-color: $color-white-001;
                    cursor: pointer;
                }
            }
        }
    }
}
